/**
* Admin layout styles
*/



#Admin-layouts-Default{
   min-width: 100vw;
   display: flex;
   /* display: grid; */
   /* grid-template-columns: 1fr 4fr;
   grid-template-areas: "left right"; */
}

.Admin{
   min-width: 100vw;
   display: flex;
   /* display: grid; */
   /* grid-template-columns: 1fr 4fr;
   grid-template-areas: "left right"; */
}



